* {
	margin: 0;
	padding: 0;
}

.banner {
	width: 100%;
}

p {
	font-size: 30px;
	text-align: justify;
	padding: 40px;
}

h1 {
	text-align: center;
}

.character {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.form {
	padding: 20px;
}

.row > p {
	padding: 40px;
}

.back {
	height: 50px;
	bottom: 30px;
	right: 30px;
}