* {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

body {
  background: linear-gradient(black, grey);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #eee;
}

h2{
  font-size: 25px;
}

#background {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: -2;
  animation: fadeIn 1.5s ease-in-out;
}

#cloud1 {
  position: absolute;
  top: 500px;
  z-index: -1;
  width: 800px;
}

#cloud2 {
  position: absolute;
  top: 900px;
  right: 100px;
  z-index: -1;
  width: 500px;
}

#cloud3 {
  position: absolute;
  top: 1400px;
  left: 300px;
  z-index: -1;
  width: 600px;
}

#dragon {
  position: absolute;
  top: 850px;
  right: 280px;
  z-index: 1;
  width: 800px;
  transition: 1000ms;
}

#para1 {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  z-index: 2;
  font-size: 23px;
  padding: 40px;
}

.animate-me {
  animation: bounceIn 5s infinite;
}

.animate-me2 {
  animation: slideRight 80s infinite;
}

.animate-me3 {
  animation: slideLeft 80s infinite;
}

.animate-me4 {
  animation: slideRight 100s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-50%);
  }
}



