* {
  margin: 0;
  padding: 0;
}

body {
	margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  background: gainsboro;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

p, h1 {
  font-size: 30px;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
}

h1 {
	border-right: 0.2px solid;
	animation: blinkTextCursor 500ms steps(20) infinite normal;
}

/* animation cursor */
@keyframes blinkTextCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

img {
	margin-top: 10px;
	width: 80%;
  height: 500px;
  /* after setting the height and width, 
  use object-fit: cover to make the gif/img fit the container */
  object-fit: cover;
}

#movies {
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;
}