/*call the element you want to change*/
body {
	/*property: value;*/
	background-color: black;
	/*color is for text color*/ 
	color: white;
	/*from Google font*/
	font-family: 'Montserrat', sans-seif;
}

* {
	padding: 0px;
	margin: 0px;  
}

p {
	font-size: 40px;
}

.alignment {
	text-align: center;
}

/*h1 is our web page title */
h1 {
	font-size: 65px;
	margin: 10px;
}

img {
	width: 100%;
	height: 200px;
	margin-top: 10px;
}